.user-details-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  margin: 0;
  background-color: #f0f0f0; /* Optional: background color for the body */
}

.user-details-container {
  max-width: 800px;
  width: 100%; /* Ensure it takes full width up to max-width */
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Remove margin-left to center the box */
  /* Allign to center */
  margin: 0 auto;
  /* Add padding to the top */
  padding-top: 20px;
  /* Allign vertically */
  display: flex;
  margin-top: 5%;
}

.user-details-page h1 {
  text-align: center;
  color: #333;
}

.user-details-page .input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.user-details-page .input-field {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}