.user-details-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  margin: 0;
  background-color: #f0f0f0; /* Optional: background color for the body */
}

.user-details-container {
  max-width: 800px;
  width: 100%; /* Ensure it takes full width up to max-width */
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Remove margin-left to center the box */
  /* Allign to center */
  margin: 0 auto;
  /* Add padding to the top */
  padding-top: 20px;
  /* Allign vertically */
  display: flex;
  margin-top: 5%;
}

.user-details-page h1 {
  text-align: center;
  color: #333;
}

.user-details-page .input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.user-details-page .input-field {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.circle {
  display: flex;
  width: 75px; /* Set a fixed width */
  height: 75px; /* Set the same height as width */
  border: 2px solid rgb(107, 195, 250);
  border-radius: 50%;
  align-items: center; /* Center vertically */
  text-align: center;
  background-color: rgb(107, 195, 250); /* Light blue background */
  font-size: 1.5em; /* Font size */
  color: white; /* Text color */
  justify-content: center; /* Center horizontally */
 
}

.side-by-side {
  display: flex;
  gap: 40px; /* Adjust the gap as needed */
}

.circle-side-by-side {
  display: flex;
  gap: 85px; /* Adjust the gap as needed */
  align-items: center;
  margin-left: 50px;
}

.text-box {
  position: absolute; /* Position the text box absolutely */
  top: 120px; /* Adjust the top position as needed */
  right: 300px; /* Adjust the right position as needed */
  width: 50px; /* Set the width of the text box */
  height: 50px; /* Set the height of the text box */
  padding: 10px; /* Add some padding */
  border: 1px solid #ccc; /* Add a border */
  border-radius: 4px; /* Add rounded corners */
  font-size: 1em; /* Set the font size */
  resize: none; /* Disable resizing */
}